<div class="backdrop" [ngClass]="{'show' : displayL}"></div>
<div class="modal" role="dialog" [ngClass]="{'show' : displayL}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="fCloseL()" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="container" style="margin-bottom: 1vh">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Enter Login Details</h3>
                                </div>
                                <div class="panel-body">
                                    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
                                        <fieldset>
                                            <div class="form-group">
                                                <input class="form-control"
                                                       id="email"
                                                       placeholder="example@example.com"
                                                       name="email"
                                                       type="email"
                                                       formControlName="email">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control"
                                                       id="password"
                                                       placeholder="Password"
                                                       name="password"
                                                       type="password"
                                                       formControlName="password">
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input name="remember" type="checkbox" value="Remember Me"> Remember
                                                    Me
                                                </label>
                                            </div>
                                            <input [disabled]="!myForm.valid"
                                                   class="btn btn-lg btn-success btn-block"
                                                   type="submit"
                                                   >Submit
                                        </fieldset>
                                    </form>
                                    <h4>OR</h4>
                                    <input class="btn btn-lg btn-facebook btn-block" type="submit"
                                           value="Login via facebook">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->