<div class="col md-8 col-md-offset-2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Mail</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control"
                   type="password"
                   id="password"
                   formControlName="password">
        </div>
        <button class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid">Submit
        </button>
    </form>
</div>