/* Banner */

#banner {
    padding: 2em 0 5em 0;
    background-image: url("http://0.s3.envato.com/files/3762980/dna%202%20vid%20prev.png");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

#banner:before {
    content: '';
    background: rgba(75, 75, 93, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#banner .inner {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 10005;
    padding-top: 2em;
}

#banner h1 {
    font-size: 3.5em;
    font-weight: 400;
    color: #fff;
    line-height: 1em;
    margin: 0 0 1em 0;
    padding: 0;
}

#banner h3 {
    font-weight: 400;
    color: #fff;
    margin: 0;
    font-size: 1.5em;
}

#banner .icon {
    color: #6cc091;
    font-size: 3em;
}

#banner p {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 1.75em;
}

#banner .flex {
    -ms-flex-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto 4em auto;
}

#banner .flex div {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    padding: 0 8em;
}

#banner .flex div:last-child {
    border: none;
    padding-right: 0;
}

#banner .flex div:first-child {
    padding-left: 0;
}

#banner .flex div p {
    margin: 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

    #banner {
        background-attachment: scroll;
    }

}

@media screen and (max-width: 1680px) {

    #banner .flex div {
        padding: 0 6em;
    }

}

@media screen and (max-width: 1280px) {

    #banner {
        padding: 7em 0 6em 0;
    }

    #banner .inner {
        padding-top: 6em;
    }

    #banner h1 {
        font-size: 3em;
    }

    #banner h3 {
        font-size: 1.25em;
    }

    #banner .flex div {
        padding: 0 3em;
    }

}

@media screen and (max-width: 980px) {

    #banner {
        background-attachment: scroll;
        padding: 5em 0 4em 0;
    }

    #banner .inner {
        padding-top: 4em;
    }

    #banner h1 {
        font-size: 2.5em;
    }

    #banner h3 {
        font-size: 1.25em;
    }

    #banner .flex div {
        font-size: .85em;
        padding: 0 1.5em;
    }

}

@media screen and (max-width: 736px) {

    #banner {
        padding: 4em 0 3em 0;
    }

    #banner .inner {
        padding-top: 3em;
    }

    #banner h1 {
        font-size: 2em;
    }

    #banner h3 {
        font-size: 1.25em;
    }

    #banner .flex {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 auto 2em auto;
    }

    #banner .flex div {
        font-size: .85em;
        padding: 0;
        border: none;
        margin-bottom: 1em;
    }

}

@media screen and (max-width: 480px) {

    #banner h1 {
        font-size: 1.5em;
    }

}

.inner {
    max-width: 75em;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {

    .inner {
        max-width: 90%;
    }

}

@media screen and (max-width: 480px) {

    .inner {
        max-width: 90%;
    }

}

section.wrapper header, article.wrapper header {
    margin-bottom: 4em;
}

section.wrapper header h2, article.wrapper header h2 {
    font-size: 2.75em;
    margin: 0 0 .5em 0;
}

section.wrapper header p, article.wrapper header p {
    font-size: 1em;
}

section.wrapper article header, article.wrapper article header {
    margin: 0;
}

/* Flex */

.flex {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    display: -webkit-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.flex.flex-2 {
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.flex.flex-2 article {
    width: 50%;
}

@media screen and (max-width: 980px) {

    .flex.flex-2 article {
        width: 100%;
        margin-bottom: 3em;
    }

    .flex.flex-2 article:last-child {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 480px) {

    .flex.flex-2 br {
        display: none;
    }

}

/* Footer */

#footer {
    padding: 3em 0;
    background: #6cc091;
    color: #fff;
    text-align: center;
}

#footer h3 {
    color: #FFF;
    margin-bottom: 2em !important;
}

#footer label {
    text-align: left;
    color: #FFF;
}

#footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    margin: 0 0 2em 0;
    padding: 0;
}

#footer .copyright a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#footer .copyright a:hover {
    color: #FFF;
}

@media screen and (max-width: 980px) {

    #footer {
        padding: 4em 0;
    }

}

@media screen and (max-width: 736px) {

    #footer {
        padding: 3em 0;
    }

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    padding: 5px;
    display: block;
}

/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

/* Button */

.button-new {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #6cc091;
    color: #6cc091 ;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .75em;
    font-weight: 400;
    height: 3.75em;
    line-height: 3.85em;
    letter-spacing: 2px;
    padding: 0 4em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: rgba(108, 192, 145, 0.15);
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
    background-color: rgba(108, 192, 145, 0.15);
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
    padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
    margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
    font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
    font-size: 1.35em;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #FFF;
    color: #fff !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
button.alt:hover,
.button.alt:hover {
    background-color: #7ec89e;
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
button.alt:active,
.button.alt:active {
    background-color: #7ec89e;
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
button.alt.icon:before,
.button.alt.icon:before {
    color: #bbb;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
    background-color: #6cc091;
    color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
    background-color: #7ec89e;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
    background-color: #5ab884;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    background-color: #9a9a9a !important;
    box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
    color: #fff !important;
    cursor: default;
    opacity: 0.25;
}

@media screen and (max-width: 480px) {

    .button-new {
        padding: 0;
        width: 100%;
    }

}

/* Image */

.image {
    border-radius: 0;
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    border-radius: 0;
    display: block;
}


.image.round img {
    margin-top: 30px;
    width: 100%;
    height: 40vh;
    padding: 1vh;
}

/* modal */

.backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity .3s cubic-bezier(0.04, 0.74, 0.29, 1.99);
}

.show {
    opacity: 1;
}


.modal-dialog {
    margin: 0 auto;
    margin-top: 30%;
    transition: opacity .3s cubic-bezier(0.04, 0.74, 0.29, 1.99);

}
.modal-content {
    z-index: 999999;
}


.white{
    color:#000;
    background-color:#fff;
}

.btn-facebook {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2b4b90;
    *background-color: #133783;
    background-image: -moz-linear-gradient(top, #3b5998, #133783);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
    background-image: -webkit-linear-gradient(top, #3b5998, #133783);
    background-image: -o-linear-gradient(top, #3b5998, #133783);
    background-image: linear-gradient(to bottom, #3b5998, #133783);
    background-repeat: repeat-x;
    border-color: #133783 #133783 #091b40 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
    color: #ffffff;
    background-color: #133783 !important;
    *background-color: #102e6d !important;
}

.btn-facebook:active,
.btn-facebook.active {
    background-color: #0d2456 \9 !important;
}

.panel {
    padding-left: 15vh;
    text-align:  center;
}