<html>
<head>
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>Welcome to Hypertube</h1>
        </header>

        <div class="flex ">

            <div>
                <span class="icon fa-address-book"></span>
                <h3 style="padding-top: 20px">SignUp</h3>
                <p>stream and download 1000+ series and movies</p>
            </div>

            <div>
                <span class="icon fa-youtube-play "></span>
                <h3 style="padding-top: 20px">Stream</h3>
                <p>Stream your movie/series instantly!</p>
            </div>



        </div>

            <a href="#" class="button">Login</a>
            <a href="#" class="button">Signup</a>
    </div>
</section>

<section id="three" class="wrapper align-center">
    <div class="inner">
        <div class="flex flex-2">
            <article>
                <div class="image round">
                    <img src="#" alt="Pic 01" />
                </div>
                <header>
                    <h3>Lorem ipsum<br /> dolor amet nullam</h3>
                </header>
                <p>Morbi in sem quis dui placerat ornare. Pellentesquenisi<br />euismod in, pharetra a, ultricies in diam sed arcu. Cras<br />consequat  egestas augue vulputate.</p>
                <footer>
                    <a href="#" class="button">Learn More</a>
                </footer>
            </article>
            <article>
                <div class="image round">
                    <img src="#" alt="Pic 02" />
                </div>
                <header>
                    <h3>Sed feugiat<br /> tempus adipicsing</h3>
                </header>
                <p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
                <footer>
                    <a href="#" class="button">Learn More</a>
                </footer>
            </article>
        </div>
    </div>
</section>


<!-- Footer -->
<footer id="footer">
    <div class="inner">

        <div class="copyright">
          <a>  &copy; Hypertube 2016 </a>.
        </div>

    </div>
</footer>



<!-- Scripts -->
<!--<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script> -->